@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    color: #ddd;
}

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #23272a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Header */

header {
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    background-color: #1c1e20;
}


/* Searchbar */

input {
    border: none;
    color: #23272a;
    padding: .5rem;
    border-radius: 20px;
}

input:focus {
    outline: 0;
}


/* Card */

main {
    height: auto;
    width: 650px;
    margin: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #2c2f33;
    border-radius: 5px;
}

object,
img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.user-information {
    margin-left: 10px;
}

p {
    margin: 0;
}

p[username] {
    width: auto;
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
}

p[tag] {
    font-size: .8rem;
    color: rgb(194, 194, 194);
}

span.bot {
    font-size: 0.7rem;
    font-weight: 600;
    padding: .3rem;
    color: white;
    background-color: #3c86b8;
    text-transform: uppercase;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
}