@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.theme-dark {
    --text-color: #ddd;
    --navbar-text-color: #fff;
    --primary-bg-color: #23272a;
    --secondary-bg-color: #2c2f33;
    --tertiary-bg-color: #1c1e20;
    --placeholder-text-color: #8e8e8e;
}

.theme-light {
    --text-color: #272727;
    --navbar-text-color: #000;
    --primary-bg-color: #e0e0e0;
    --secondary-bg-color: #ececec;
    --tertiary-bg-color: #d8d8d8;
    --placeholder-text-color: #202020;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Searchbar */

input {
    border: 2px solid var(--tertiary-bg-color);
    color: var(--text-color);
    background-color: var(--secondary-bg-color);
    padding: .5rem;
    border-radius: 20px;
}

input:focus {
    outline: 0;
}

input::placeholder {
    color: var(--placeholder-text-color);
    padding: 0.2rem;
}

/* USERS */

section {
    height: 140px;
    width: 650px;
    margin: 30px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: var(--secondary-bg-color);
    border-radius: 10px;
    position: relative;
    align-items: center;
    border: 2px solid var(--tertiary-bg-color);
}

/* main::after {
    content: '2019';
    position: absolute;
    top: 50%;
    right: -10%;
    width: 140px;
    transform: rotate(90deg);
    transform-origin: top;
    text-align: center;
    opacity: .6;
    font-size: 10vh;
} */

object, img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    overflow: hidden;
}

.user-information {
    margin-left: 10px;
}

p {
    margin: 0;
    font-size: .8rem;
}

.user-information p[username] {
    width: auto;
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
}

.user-information p[tag] {
    color: var(--text-color);
}

.user-information span.bot {
    font-size: 0.7rem;
    font-weight: 600;
    padding: .3rem;
    color: white;
    background-color: #3c86b8;
    text-transform: uppercase;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
}

.user-information div.badgesWrapper {
    margin-top: 5px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-information div.badgesWrapper img {
    height: 80%;
    width: auto;
}

h1.error{
    margin: 0;
    width: 100%;
    text-align: center;
}