doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Discord
        script
            include ./utils/script.js
        style 
            include ./assets/css/main.css
            include ./assets/css/footer.css
    body
    include ./components/header.pug
    form#form(action="/", method="POST")
        input#search(type="text", placeholder="Seach user by ID", name="discordID")
    
    main#main 
        object(data=avatar, type="image/png") 
            img(src="https://cdn.discordapp.com/embed/avatars/0.png", alt="Default User Avatar")
        div.user-information 
            p(username) #{username}
                if isBot 
                    span.bot bot
            p(tag) #{username}##{discriminator}
    include ./components/footer.pug
