doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Discord Checker
        script
            include ./utils/header.js
        style 
            include ./assets/css/main.css
            include ./assets/css/header.css
            include ./assets/css/footer.css
    body
    include ./components/header.pug

    
    include ./components/footer.pug
